<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">FIIFI's Motors</a>
  </span>
  <div id="tools">
    <% if (res.locals.loggedin) { %>
      <a href="/account/logout" title="Log out">Logout</a>
      <a href="/account/" title="Account Management">Welcome Basic</a>
      <% } else { %>
        <a href="/account/login" title="Click to log in">My Account</a>
        <% } %>
  </div>
</header>