<div class="view-container">
    <h1>
        <%= title %>
    </h1>
    <div class="management-links">
        <a class="btn" href="/inv/add-classification">Add New Classification</a>
        <a class="btn" href="/inv/add-inventory">Add New Inventory</a>
    </div>
</div>